/* Carousel.css */
.carousel-container {
  width: 94%;
  overflow-x: auto;
  scroll-behavior: smooth; /* Hacer que el scroll sea suave */
  scrollbar-width: none; /* Ocultar scroll en navegadores compatibles */
  margin: auto;
  height: 70vh;
}

.carousel-container::-webkit-scrollbar {
  display: none; /* Ocultar scrollbar en navegadores basados en WebKit */
}

.carousel {
  display: flex;
  gap: 20px;
  height: 100%;
}

.card {
  flex: 0 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: left;
  height: 100%;
  text-decoration: none;
}

.card img {
  width: 100%;
  min-height: 320px;
  max-height: 320px;
  object-fit: cover;
  border-radius: 5px;
}
.card h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.card .price {
  font-size: .8em;
}

.card .description {
  font-size: 0.6em;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
}
