:root{
    --color-negro: #373636;
    --color-negro-hover: #222227;
    --color-dorado: #fdd05e;
    --color-dorado-hover: #c79a28;
    --color-rojo: #d60a5f;
    --color-rojo-2: #8d093f;
    --color-rojo-hover: #ee0d6b;
    --color-rojo-hover-2: #ff006a;
}

.pageAdmin{
    height: 75vh;
    padding: 2vh 2vw;
}
.pageAdmin h1{
    margin: 2% 0;
}
.pageAdmin div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.pageAdmin div a{
    min-width: 400px;
    max-width: 600px;
    background-color: var(--color-rojo);
    text-decoration: none;
    color: white;
    font-size: 1.7em;
    text-align: center;
    border-radius: 5px;
    padding: .5% 0;
    transition: all .35s ease;
}
.pageAdmin div a:hover{
    background-color: var(--color-rojo-2);
}
.adminLinks{
    font-size: .8em;
    height: 75% !important;
}
.pageAdmin section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inbox{
    min-width: 60px;
    position: relative;
    padding-top: 3.5%;
    cursor: pointer;
}
.numberInbox{
    margin:auto;
}
.numberInbox p{
    filter: drop-shadow(0px 0px 1px white);
    font-size: medium;
    position: absolute;
    top: -10px;
    right: 0px;
    background-color: #d60a5f;
    color: white;
    padding: 2% 10%;
    border-radius: 50%;
}
.contactIcon{
    font-size: 1.5em;
}
.infoInbox{
    position: absolute;
    top: 15vh;
    right: 10px !important;
    width: 370px !important;
    max-height: 80vh !important;
    height: 60vh !important;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-dorado) transparent;
    z-index: 1000;
    background-color: white;
    padding: .3%;
}
.notificationInbox{
    display: flex;
    font-size: .8em;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: var(--color-rojo);
    color: white;
    justify-content: space-between !important;
    flex-direction: row !important;
    border-radius: 10px;
    margin: 10px 0;
    scrollbar-width: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all .35s ease;
}
.notificationInbox div{
    margin: auto;
}
.notificationInbox:hover{
    background-color: var(--color-rojo-2);
}
.notificationInbox svg{
    font-size: 1.5em;
    padding: 10px;
    color: white;
    transition: all .35s ease;
}
.notificationInbox svg:hover{
    color: var(--color-dorado);
}

.infoInbox::-webkit-scrollbar {
    width: 0.5rem;
  }
.infoInbox::-webkit-scrollbar-track {
    background-color: var(--color-dorado);
}
.infoInbox::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, var(--color-dorado-hover), var(--color-dorado));
    border-radius: 15rem;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.infoInbox::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, var(--color-dorado-hover), var(--color-dorado));
}
.pageHeader{
    padding: 1% 1% .5% 1%;
}
.pageHeader1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.volverAnadir{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.volverAnadir button{
    font-size: 1em;
    padding: 1%;
    min-width: 100px;
    border-radius: 5px;
    border: 0px;
    transition: all .35s ease;
    color: white;
    filter: drop-shadow(2px 2px 2px rgba(97, 97, 97, 0.692));
}
.volverAnadir :nth-child(1){
    color: black;
    background-color: var(--color-dorado);
}
.volverAnadir :nth-child(1):hover{
    background-color: var(--color-dorado-hover);
}
.volverAnadir :nth-child(2){
    background-color: var(--color-rojo);
}
.volverAnadir :nth-child(2):hover{
    background-color: var(--color-rojo-hover);
}
.pages{
    display: flex;
    justify-content: right;
    align-items: center;
}
.inputFilter{
    border-radius: 4px;
    padding: .5%;
    font-size: 1em;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.dataTable{
    width: 100%;
    padding: 1%;
    min-height: 62.3vh;
}
.dataTable th{
    border: 1px solid black;
    color: white;
    background-color: #8d093f;
    text-transform: uppercase;
}

.width100{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sinDatosParaMostrar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    margin: auto;
    text-align: center;
}